body,
* {
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(34, 18, 39);
}
h1 {
  font-family: "SinaNovaW01-Regular";
  font-size: 22px;
}
h3 {
  font-family: 'SinaNovaW01-Regular';
  border: 5px ridge rgb(218, 53, 94);
  font-size: 18px;
  text-align: center;
  background-color: rgb(235, 153, 185);
  position: relative;
  bottom: 25px
}
p {
  font-family: 'SinaNovaW01-Regular', Arial;
  font-size: 14px;
  background-color: rgb(177, 129, 189);
}
.card {
border: 10px ridge rgb(102, 51, 153);
border-radius: 15px;
background-color: rgb(177, 129, 189);
text-align: center;
width: 275px;
height: 350px;
margin-bottom: 75px;
}
.card-price{
  justify-self: center;
  font-family: 'SinaNovaW01-Regular', Arial;
  font-size: 14px;
  background-color: rgb(15, 1, 19);
  color: rgb(253, 226, 255);
  width: 100px;
  border: solid rgb(65, 56, 68);
  border-radius: 10px;
  position: relative;
  top: 300px;
}
a{
  text-decoration: none;
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.containertainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-img {
  background-color: rgb(177, 129, 189);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: relative;
  bottom: 25px
}